button {
    font-size: 3.2rem;
    width: 37.8rem;
    height: 9rem;
    border-radius: .5rem;

    cursor: pointer;
    color: #fff;
    border: none;
    background-color: transparent;
}

button.btn-blue {
    background-color: var(--blue);
}

button.btn-blue:hover {
    background-color: var(--blue-1);
}

button.btn-transparent {
    border: .2rem solid var(--gray);
}

button.btn-transparent:hover {
    background-color: var(--gray-1);
}

.container__btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    position: absolute;
    bottom: 6rem;
    left: 0;
}